@font-face {
  font-family: "NunitoNormal";
  src: url(../Font_Face/NunitoNormal.ttf);
}
@font-face {
  font-family: "NunitoSemiBold";
  src: url(../Font_Face/NunitoSemiBold.ttf);
}
@font-face {
  font-family: "NunitoExtraBold";
  src: url(../Font_Face/NunitoExtraBold.ttf);
}
@media (max-width: 370px) {
  .selectwrap {
    flex-direction: column;
  }
  .cards {
    margin-top: 50px;
    justify-content: center;
  }
  .modesbtn {
    width: 130px;
  }
  .header-container h1 {
    font-family: "NunitoExtraBold";
    font-size: 24px;
    font-weight: 800;
    line-height: 32.74px;
    text-align: left;
  }
}
:root {
  --body-background: #f3f3f3e7;
  --backgrounds: #fff;
  --bg-colors: #fff;
  --text-color: #000000;
}

.light {
  --text-color: #ffffff;
  --bg-colors: #2b3844;
  --body-background: #202c36;
  --backgrounds: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.o1 {
  display: inline;
}

body {
  font-family: "NunitoNormal", "NunitoSemiBold", "NunitoExtraBold";
  color: #000;
  background: var(--body-background);
  color: var(--text-color);
  font-weight: 300;
}

.cardsswrap {
  background: var(--kil-bacjk);
  color: var(--tect-colr);
  border-radius: 3px;
  cursor: pointer;
  width: 264px;
  height: 336px;
  gap: 0px;
  border-radius: 5px 5px 0px 0px;
  opacity: 0px;
  box-shadow: 1px 1px 8px -1px rgba(34, 60, 80, 0.2);
}
.cardsswrap img {
  border-radius: 3px;
  width: 100%;
  padding-bottom: 10px;
  max-width: 500px;
}

header {
  width: 100%;
  box-shadow: -4px 28px 21px 0px rgba(34, 60, 80, 0.2);
}

.container {
  display: flex;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 1250px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  width: 100%;
  display: block;
}

#inp {
  width: 100%;
  max-width: 500px;
  padding: 15px 20px 14px 5px;
  outline: none;
  border: none;
  border-radius: 7px;
  background: var(--bg-colors);
  color: var(--text-color);
}

.hidden {
  display: none;
}

.searchbtn {
  display: flex;
  align-items: center;
  background: var(--bg-colors);
  gap: 19px;
  padding-left: 7px;
  border: none;
  border-radius: 7px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 1px 1px 8px -1px rgba(34, 60, 80, 0.2);
  color: var(--text-color);
}

.searchimg {
  width: 25px;
}

header {
  background: var(--bg-colors);
  width: 100%;
  color: var(--text-color);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.abtn {
  border: none;
  background: var(--bg-colors);
  color: var(--text-color);
  position: relative;
  top: 48px;
  text-align: center;
  border-radius: 8px;
  padding: 0 14px 4px 14px;
  height: 25px;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 264px);
  gap: 38px;
  margin-bottom: 38px;
}

.aboutpopul {
  padding-left: 15px;
  font-size: 12px;
  width: 190px;
  display: flex;
  flex-direction: column;
  margin-bottom: 46px;
  gap: 10px;
}

.content {
  background: var(--bg-colors);
  color: var(--text-color);
  border-radius: 3px;
  cursor: pointer;
  width: 264px;
  height: 336px;
  gap: 0px;
  border-radius: 5px 5px 0px 0px;
  opacity: 0px;
  box-shadow: 1px 1px 8px -1px rgba(34, 60, 80, 0.2);
}

.aboutpopul img {
  border-radius: 3px;
  width: 100%;
  padding-bottom: 10px;
  max-width: 500px;
}

.header__nav-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

#select {
  width: 180px;
  height: 50px;
  border-radius: 8px;
  text-align: left;
  padding-left: 6px;
}

#darkimg {
  width: 15px;
}

.modesbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background-color: inherit;
}
.modesbtn img {
  width: 15px;
  height: 15px;
}

.searchinp {
  display: flex;
  font-family: "Nunitonormal";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.back-home {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #476a2e;
  border: 2px solid #476a2e;
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: all 0.4s linear;
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: 0.25rem;
  display: inline-block;
  margin-top: 50px;
}
.back-home:hover {
  background-color: aquamarine;
}

.abtn:hover {
  background: #476a2e;
  color: #ffffff;
}

.pic {
  width: 330px;
}

.clasbody {
  background-color: #fff;
}

.tlastdiv {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  gap: 75px;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
}

.birinchi {
  margin-right: auto;
}

.lastdiv {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}

.ikkinchi-birinchi {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--text-color);
}

.ikkinchi-ikkinchi {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tlastdib h2 {
  font-family: Arial, Helvetica, sans-serif;
}
.tlastdib p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--text-color);
}
.tlastdib span {
  color: var(--text-color);
}

.span {
  color: #000000;
  font-style: normal;
  font-size: 21px;
}

.selectwrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

#inp {
  padding: 18px 10px 10px 5px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: var(--bg-colors);
  color: var(--text-color);
}

.pic {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
  width: 560px;
  height: 401px;
  border-radius: 5px;
}

.lastdiv {
  width: 598px;
  height: 323px;
}

.img-container img {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.1);
  height: 150px;
  margin-bottom: 10px;
  border-radius: 7px 7px 0 0;
  padding: 0;
}

.option {
  width: 50px;
  margin-bottom: 20px;
}

.aboutpage {
  font-weight: 600;
}

.loader,
.error {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.hidden {
  display: none;
}

.clasbody {
  background-color: var(--body-back);
}

.grid {
  background-color: var(--bg-colors);
}

@media (max-width: 1260px) {
  .tlastdib {
    flex-direction: column;
  }
  .tlastdib img {
    width: 320px;
    height: 229px;
  }
  .lastdiv {
    flex-direction: column;
  }
}
.divbn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.back-home {
  display: inline;
  margin: 0;
  width: 150px;
  text-align: center;
}

.error-title {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}/*# sourceMappingURL=style.css.map */